@* Default.cshtml é um nome padrão para as View Components *@

@** Recebimento do parâmetro enviado *@
@model int

<span>Itens no carrinho: @Model</span>

@** model com minúsculo: Define o tipo *@
@** Model com Maiúsculo: Referencia a model para uso *@